br {
  display: none;
}

#quick_links_wrap {
  display: none;
}

table.bouncer {
  border-bottom: none !important;
}

.topTabs{
  height: 10vh !important;
}

.contentList > li:first-child, .contentList > li.read:first-child:hover{
  border: none !important;
}

.pageTitle {
  display: none;
}

.container {
  padding: 0;
  margin: 0;
}

.contentList .item {
  display: none;
}

.contentList {
  margin: 0;
  padding: 0 !important;
}

.contentPane .shadow {
  border: 0;
}

.contentList > li {
  padding: 0;
  margin: 0;
  border: none;
}

.contentList .details {
  height: 90vh;
  padding: 0;
  margin: 0;
  border: none;
}

.contentList > li:first-child {
  border: none;
}

.container {
  border: none;
}

.vtbegenerated_div {
  margin-bottom: 0;
}

/*RESET*/

.locationPane {
  background: #181818;
  padding: 0 !important;
  margin: 0 !important;
}

#actionbar {
  display: none !important;
}

#globalNavPageContentArea {
  overflow: hidden !important;
  position: absolute !important;
}

#contentFrame,
#schemePreview,
.schemePreviewBody,
body {
  overflow: hidden;
}

@media only screen and (min-width: 0) and (max-width: 736px) {
  ul.contentList li:first-of-type {
    padding-top: 0px;
  }
}

.breadcrumbs {
  display: none;
}

#puller {
  display: block;
}

@media only screen and (min-width: 0) and (max-width: 736px) {
  .breadcrumbs {
    z-index: 0;
  }
}

@media only screen and (min-width: 737px) and (max-width: 1037px) {
  .breadcrumbs {
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 0;
  }
}
