section {
  background-color: #fafafa;
  height: 100vh;
}


.header {
  height: 80%;
  color: #fff;
}

.bgGradient {
  background-image: linear-gradient(
      to right,
      rgba(107, 129, 240, 0.6),
      rgba(2, 2, 70, 0.4)
    ),
    url("/assets/img/smiling.png");
  height: 100%;
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
}

.title {
  font-weight: bold;
  font-size: 5rem;
}

.subtitle{
  font-size: 1.2rem;
}

.cardsContainer {
  background: #fafafa;
  height: 20%;
  padding: 3rem;
}

.card {
  background-color: #fff;
}

.cardTemplate {
  background: #ffffff;
  border-radius: 5px;
}

