section {
  background-color: #f8f9fa;
}

.insperCssReseter .bgGradient {
  background-image: linear-gradient(
      to right,
      rgba(107, 129, 240, 0.6),
      rgba(2, 2, 70, 0.4)
    ),
    url("../img/smiling.png") !important;
  height: 75vh !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  color: #fff !important;
}

.insperCssReseter .title {
  font-weight: bold !important;
  font-size: 3rem !important;
}

.insperCssReseter .subtitle {
  font-weight: bold !important;
  font-size: 2rem !important;
}

.insperCssReseter .author {
  font-size: 1.2rem !important;
}



.insperCssReseter .cardsContainer {
  padding: 2rem 2rem 0.5rem 2rem !important;
  justify-content: space-around !important;
  min-height: 25vh !important;
}

.insperCssReseter .cardArea .col-12 {
  margin-bottom: 1.5rem !important;
}

.insperCssReseter .cardTemplate {
  background: #ffffff !important;
  border-radius: 5px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-evenly !important;
  align-items: center !important;
  height: 100% !important;
  padding: 1rem !important;
}

.insperCssReseter .cardTemplate svg {
  color: #6b81f0 !important;
}

.insperCssReseter .cardBody {
  font-weight: bold !important;
  text-align: center !important;
}

.insperCssReseter .header {
  height: 10vh !important;
}

.insperCssReseter .content {
  justify-content: center !important;
  min-height: 90vh !important;
  display: flex !important;
  padding: 1rem 3rem 3rem 3rem;
}

.insperCssReseter .card {
  height: 100% !important;
}

.insperCssReseter .card-body {
  padding: 2rem !important;
  background-color: #f8f9fa !important;
  height: auto !important;
}

.insperCssReseter .card-img-top {
  height: 80% !important;
}

.insperCssReseter .dualBox {
  min-height: 100vh !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 5rem 3rem;
}

.insperCssReseter .dualBox > div {
  height: 100% !important;
  display: flex !important;
  justify-content: center !important;
}

.insperCssReseter .imgLeft {
  flex-direction: row-reverse !important;
}
